.notification-container {
  background: #ffff76;
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  color: #000034;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;

  p {
    margin: 0;
    font-size: 16px;
  }

  &.show {
    transform: translateY(-50px);
  }
}
